{% extends "homebase.html" %}
{% block title  %} İlan Ver - {{ setting.company }} {% endblock %}
{% block keywords  %} {{ setting.keywords }} {% endblock %}
{% block description  %} {{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block body  %}
    {% load static %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>İlan ver</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="warning" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ formset.management_form }}
                        {{ form.media }}
                        {{ form.as_p }}
                        {{ formset.as_table }}
                    </fieldset>
                    <div class="form-group">
                        <button class="primary-btn" type="submit">
                            KAYDET
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </section>
{% endblock %}