{% load static %}
<!-- Women Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="{% static 'images/kategori.jpg' %}">
                    <h2> Yeni Eklenen İlanlar </h2>
                    <a href="#"> Keşfet </a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <h2> Yeni Eklenen İlanlar </h2>
                </div>
                <div class="product-slider owl-carousel">
                    {% for rs in lastproducts %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{rs.image.url}}" style="height: 310px; width: 270px;">
                                <ul>
                                    <li class="quick-view"><a href="/product/{{ rs.id }}/{{ rs.slug }}">Hemen İncele</a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{ rs.category }} | {{ rs.city }}</div>
                                <a href="#">
                                    <h5>{{ rs.title }}</h5>
                                </a>
                                <div class="product-price">
                                    {{rs.price}}.000 TL
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Man Banner Section Begin -->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    <ul>
                        <h2> Rastgele İlanlar </h2>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    {% for rs in randomproducts %}
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{rs.image.url}}" style="height: 310px; width: 270px;">
                                <ul>
                                    <li class="quick-view"><a href="/product/{{ rs.id }}/{{ rs.slug }}">Hemen İncele</a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{ rs.category }} | {{ rs.city }}</div>
                                <a href="#">
                                    <h5>{{rs.title}}</h5>
                                </a>
                                <div class="product-price">
                                    {{rs.price}}.000 TL
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="{% static 'images/yenikategori.jpg' %}">
                    <h2> Rasgele İlanlar </h2>
                    <a href="#">Keşfet</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section Begin -->
<div class="instagram-photo">
    {% for rs in endofthepageproducts %}
    <div class="insta-item set-bg" data-setbg="{{ rs.image.url }}">
        <div class="inside-text">
            <i class="ti-check"></i>
            <h5><a href="/product/{{ rs.id }}/{{ rs.slug }}"> Hemen İncele </a></h5>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Instagram Section End -->


