{% load static %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    {{ setting.email }}
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    {{ setting.phone }}
                </div>
            </div>
            <div class="ht-right">

                {% if user.id is not None %}
                    <a href="{% url 'user_index' %}" class="login-panel"><i class="fa fa-user"></i>{{ user.first_name }}</a>
                    <a href="{% url 'logout_view' %}" class="login-panel"><i class="glyphicon-log-out"></i>Logout</a>
                {% else %}
                    <a href="{% url 'signup_view' %}" class="login-panel"><i class="fa fa-user"></i>Kayıt Ol !</a>
                    <a href="{% url 'login_view' %}" class="login-panel"><i class="fa fa-user"></i>Giriş Yap</a>
                {% endif %}

                <div class="top-social">
                    <a href="{{ setting.facebook }}"><i class="ti-facebook"></i></a>
                    <a href="{{ setting.twitter }}"><i class="ti-twitter-alt"></i></a>
                    <a href="{{ setting.instagram }}"><i class="ti-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'images/logohemen.png' %}" style="height: 55px; width: 88px">
                        </a>
                    </div>
                </div>
                <script>

                    $(function() {
                        $("#query").autocomplete({
                            source: "/search_auto/",
                            select: function (event, ui) { //item selected
                                AutoCompleteSelectHandler(event, ui)
                            },
                            minLength: 2,
                        });
                    });

                    function AutoCompleteSelectHandler(event, ui)
                    {
                        var selectedObj = ui.item;
                    }

                </script>
                <div class="col-lg-7 col-md-7">
                    {% load mptt_tags %}
                    <div class="advanced-search">
                        <form action="{% url 'product_search' %}" method="post">
                            <select name="catid" type="button" class="category-btn">
                                <option value="0">
                                    Kategoriler
                                </option>
                                {% recursetree category %}
                                    {% if node.is_leaf_node %}<option value="{{ node.id }}"> {{ node.title }} </option> {% endif %}
                                    {% if not node.is_leaf_node %}
                                        <optgroup label="{{ node.title }}">
                                            {{ children }}
                                        </optgroup>
                                    {% endif %}
                                {% endrecursetree %}
                            </select>
                            <div class="input-group">
                                {% csrf_token %}
                                <input id="query" name="query" type="text" placeholder="Nasıl bir eve ihtiyacın var?">
                                <button type="submit"><i class="ti-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>Bütün Kategoriler</span>
                    <ul class="depart-hover">
                        {% load mptt_tags %}
                        {% recursetree category %}
                            <li>
                                <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        <li><a href="#">{{ children }}</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li class="active"><a href="{% url 'index' %}">Anasayfa</a></li>
                    <li><a href="{% url 'allestates' %}">İlanlar</a></li>


                    <li><a href="{% url 'add' %}">Hemen Sat</a>

                    <li><a href="{% url 'index' %}">BİLGİLENDİRME</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'contact' %}">İletişim</a></li>
                            <li><a href="{% url 'referances' %}">Referanslar </a></li>
                            <li><a href="{% url 'aboutus' %}">Hakkımızda </a></li>
                            <li><a href="{% url 'faq' %}">Sıkça Sorulan Sorular </a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'user_index' %}">Hesabım</a>
                        {% if user.id is not None %}
                        <ul class="dropdown">
                            <li><a href="{% url 'logout_view' %}">Logout</a></li>
                        </ul>
                        {% else %}
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>