{% extends "homebase.html" %}
{% block title  %} Üye Giriş Sayfası - {{ setting.company }} {% endblock %}
{% block keywords  %} Üye Giriş Sayfası - {{ setting.keywords }} {% endblock %}
{% block description  %} Üye Giriş Sayfası - {{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block body  %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Üye Giriş Sayfası</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Giriş Yap</h2>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert-danger {{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form action="{% url 'login_view' %}" method="post">
                            {% csrf_token %}
                            <div class="group-input">
                                <label for="username">Kullanıcı Adı </label>
                                <input type="text" id="username" name="username">
                            </div>
                            <div class="group-input">
                                <label for="pass">Şifre *</label>
                                <input type="password" id="password" name="password">
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">
                                    <label for="save-pass">
                                        Şifreyi Kaydet
                                        <input type="checkbox" id="save-pass">
                                        <span class="checkmark"></span>
                                    </label>
                                    <a href="#" class="forget-pass">Şifrenizi mi unuttunuz?</a>
                                </div>
                            </div>
                            <button type="submit" class="site-btn login-btn">Giriş Yap</button>
                        </form>
                        <div class="switch-login">
                            <a href="{% url 'signup_view' %}" class="or-login">Ya da hesap oluştur</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}
