{% extends "homebase.html" %}
{% load static %}
{% block title  %} {{ product.title }} {% endblock %}
{% block keywords  %} {{ product.keywords }} {% endblock %}
{% block description  %} {{ product.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}


{% block body  %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <a href="/category/{{ product.category_id }}/{{ product.category.slug }}"><i class="fa fa-"></i> {{ product.category }}</a>
                        <span>{{product.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-0 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title">Kategoriler</h4>
                        <ul class="filter-catagories">
                            {% for rs in category %}
                                <li><a href="/category/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 order-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" src="{{ product.image.url }}" alt="">
                                <div class="zoom-icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </div>
                            <div class="product-thumbs">
                                <div class="product-thumbs-track ps-slider owl-carousel">
                                    {% for rs in images %}
                                        <div class="pt {% if forloop.counter == 0 %} active {%  endif %}" data-imgbigurl="{{ rs.image.url }}"><img
                                                src="{{ rs.image.url }}" alt=""></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details">
                                <div class="pd-title">
                                    <span>{{product.category}}</span>
                                    <h3>{{product.title}}</h3>
                                    <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                                </div>
                                <div class="pd-desc">
                                    <p>{{product.keywords}}</p>
                                    <h4>{{product.price}}.000 TL</h4>
                                </div>
                                <div class="quantity">
                                    <a class="primary-btn pd-cart"> <h2>{{ profile.phone }}</h2></a>
                                </div>
                                <ul class="pd-tags">
                                    <li><span>Anahtar Kelimeler</span> : {{product.keywords}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">Detay</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-2" role="tab">Bilgiler</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-3" role="tab">Kullanıcı Yorumları</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="product-content">
                                        <div class="row">
                                            <p>{{product.detail | safe}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                    <div class="specification-table">
                                        <table>
                                            <tr>
                                                <td class="p-catagory">Fiyat</td>
                                                <td>
                                                    <div class="p-price">{{ product.price}}.000 TL</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Tür</td>
                                                <td>
                                                    <div class="cart-add">{{ product.category.title }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">İlanı Sahibi</td>
                                                <td>
                                                    <div class="p-stock">{{ product.user.first_name}} {{ product.user.last_name}}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">İlanı Sahibi E-mail</td>
                                                <td>
                                                    <div class="p-stock">{{ product.user.email }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">İlanı Sahibi Fotoğrafı</td>
                                                <td>
                                                    <div class="p-stock"><img src="{{ profile.image.url }}" style="height: 100px; width: 80px"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">İlanı Sahibi Telefon</td>
                                                <td>
                                                    <div class="p-stock">{{ product.user.userprofile.phone }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Metrekare</td>
                                                <td>
                                                    <div class="p-weight">{{ product.m2}} m2</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Oda Sayısı</td>
                                                <td>
                                                    <div class="p-size">{{ product.room_number }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Bina Yaşı</td>
                                                <td>
                                                    <div class="p-size">{{ product.age_of_building }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p-catagory">Şehir</td>
                                                <td>
                                                    <div class="p-size">{{ product.city }}</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <div class="customer-review-option">
                                        <div class="comment-option">
                                            {% for rs in comments %}
                                                <div class="co-item">
                                                    <div class="avatar-pic">
                                                        <img src="{{ rs.user.userprofile.image.url }}" alt="">
                                                    </div>
                                                    <div class="avatar-text">
                                                        <h5>{{ rs.user.first_name }} {{ rs.user.last_name }}<span>{{ rs.created_at}}</span></h5>
                                                        <div class="at-reply"><h5>Konu : {{ rs.subject }}</h5><p>{{ rs.comment}}</p></div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="leave-comment">
                                            <h4>Yorum Yapabilirsiniz</h4>
                                            <form action="/product/addcomment/{{ product.id }}" method="post" class="comment-form">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <input class="input" type="text" name="subject" id="id_subject" placeholder="Konu">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input class="input" type="text" name="rate" id="id_rate" placeholder="Puanınız (1-5 Arasında)">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <textarea class="input" name="comment" id="id_comment" placeholder="Yorumunuz"></textarea>
                                                        {% if user.id is not None %}
                                                            <button type="submit" class="site-btn">Yorum Yap</button>
                                                        {% else %}
                                                            Yorum Eklemek için giriş yapınız.
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->
{% endblock %}

