{% load static %}
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4" >
                <div class="single-banner">
                    <img style="height: 250px; width: 100px" src="{% static 'images/dairekategori.jpg' %}" alt="">
                    <div class="inner-text">
                        <a href="/category/3/daire/"><h4>Daireler</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img style="height: 250px; width: 100px" src="{% static 'images/yazlıkkategori.jpg' %}" alt="">
                    <div class="inner-text">
                        <a href="/category/7/yazlik/"><h4>Yazlıklar</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img style="height: 250px; width: 100px" src="{% static 'images/villakategori.jpg' %}" alt="">
                    <div class="inner-text">
                        <a href="/category/5/villa/"><h4>Villalar</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>