{% extends "homebase.html" %}
{% block title  %} Kayıt Ol - {{ setting.company }} {% endblock %}
{% block keywords  %} Kayıt Ol - {{ setting.keywords }} {% endblock %}
{% block description  %} Kayıt Ol - {{ setting.description }} {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block body  %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Kayıt Ol</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Kayıt Ol</h2>
                        {% if messages %}
                                {% for message in messages %}
                                    <div class="alert-danger {{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="group-input">
                                <label for="username">{{ field.label }}</label>
                                <input type="{% if field.name == 'password1' or field.name == 'password2' %}password{% else %}text{% endif %}" id="{{ field.name }}" name="{{ field.name }}">
                            </div>
                            {% endfor %}
                            <button type="submit" class="site-btn login-btn">Kayıt Ol</button>
                        </form>
                        <div class="switch-login">
                            <a href="{% url 'login_view' %}" class="or-login">Ya da Giriş Yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
