{% load static %}
<section class="hero-section">
    <div class="hero-items owl-carousel">
        {% for rs in sliderdata %}
            <div style="padding-top: 100px; padding-bottom: 100px; background: #FFF8E8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" style="height: 400px; width: max-content"></a>
                        </div>
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-3">
                            <h2>{{ rs.title}}</h2>
                            <p>{{ rs.description}}</p>
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="primary-btn">Detaylı İncele</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>