{% extends "homebase.html" %}
{% block title  %} Kullanıcı Profili - {{ setting.company }} {% endblock %}
{% block keywords  %} Kullanıcı Profili -{{ setting.keywords }} {% endblock %}
{% block description  %} Kullanıcı Profili -{{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block body  %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Ana Sayfa</a>
                        <span>Kullanıcı Profili</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    {% include 'user_panel.html' %}
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="warning" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="product-list">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="contact-title">
                                    <h4>Kullanıcı Bilgisi</h4>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div style="color: #003eff; font-size: medium">
                                                {{ message | safe }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }} <br> {{ field }}
                                            {% if field.help_text %} <small style="color: #1e7e34">{{ field.help_text }}</small> {% endif %}
                                            {% for error in field.errors %} <p style="height: 20px ; width: 20px"> {{ error }}</p> {% endfor %}
                                        </p>
                                    {% endfor %}
                                    <button class="primary-btn" type="submit"> Değişikleri Kaydet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
