{% extends "homebase.html" %}
{% block title  %} Blank Page - {{ setting.company }} {% endblock %}
{% block keywords  %} Blank Page -{{ setting.keywords }} {% endblock %}
{% block description  %} Blank Page -{{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block body  %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Yorumlarím</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    {% include 'user_panel.html' %}
                </div>
                <div class="col-lg-9 order-1">
                    <div class="cart-table">
                        <table>
                            <thead>
                            <tr>
                                <th class="p-name">Emlak ismi</th>
                                <th class="p-name">Konu</th>
                                <th class="p-name">Rate</th>
                                <th class="p-name">Yorum</th>
                                <th><i class="ti-close"></i></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for rs in comments %}
                                <tr>
                                    <td class="cart-title ">
                                        <h5>{{ rs.product.title }}</h5>
                                    </td>
                                    <td class="cart-title ">
                                        <h5>{{ rs.subject }}</h5>
                                    </td>
                                    <td class="cart-title ">
                                        <h5>{{ rs.rate }}</h5>
                                    </td>
                                    <td class="cart-title ">
                                        <h5>{{ rs.comment }}</h5>
                                    </td>
                                    <td class="total-price first-row"><a href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Yorumu silmek istediğinizden emin misiniz?')" class="primary-btn up-cart">Sil</a></td>
                                </tr>
                            {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
                                <a href="#" class="primary-btn continue-shop">Continue shopping</a>
                                <a href="#" class="primary-btn up-cart">Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
{% endblock %}
