{% extends "homebase.html" %}
{% block title  %} Kullanıcı Profili - {{ setting.company }} {% endblock %}
{% block keywords  %} Kullanıcı Profili -{{ setting.keywords }} {% endblock %}
{% block description  %} Kullanıcı Profili -{{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block body  %}
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Ana Sayfa</a>
                        <span>Kullanıcı Profili</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    {% include 'user_panel.html' %}
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="warning" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="product-list">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="contact-title">
                                    <h4>Profil Bilgisi</h4>
                                </div>
                                <div class="contact-widget">
                                    <div class="cw-item">
                                        <div class="ci-icon">
                                            <i class="ti-location-pin"></i>
                                        </div>
                                        <div class="ci-text">
                                            <span>İsim Soyisim</span>
                                            <p>{{ profile.user.first_name}} {{ profile.user.last_name }}</p>
                                        </div>
                                    </div>
                                    <div class="cw-item">
                                        <div class="ci-icon">
                                            <i class="ti-mobile"></i>
                                        </div>
                                        <div class="ci-text">
                                            <span>Telefon:</span>
                                            <p>{{ profile.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="cw-item">
                                        <div class="ci-icon">
                                            <i class="ti-email"></i>
                                        </div>
                                        <div class="ci-text">
                                            <span>Email:</span>
                                            <p>{{ profile.user.email}}</p>
                                        </div>
                                    </div>
                                    <div class="cw-item">
                                        <div class="ci-icon">
                                            <i class="ti-email"></i>
                                        </div>
                                        <div class="ci-text">
                                            <span>Profil Resmi: </span>
                                            <p><img src="{{ profile.image.url }}" style="height: 150px; width: 100px"></p>
                                        </div>
                                    </div>
                                    <div class="cw-item">
                                        <div class="ci-icon">
                                            <i class="ti-email"></i>
                                        </div>
                                        <div class="ci-text">
                                            <span>Bilgileri Değiştir</span>
                                            <p>
                                                <tr>
                                                    <th class="text-left">
                                                        <a href="{% url 'user_update' %}" class="primary-btn">Bilgileri Güncelle</a>
                                                        <a href="{% url 'change_password' %}" class="primary-btn">Şifreyi Değiştir</a>
                                                    </th>
                                                </tr>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
