<div class="filter-widget">
    <h4 class="fw-title">Kullanıcı Paneli</h4>
    <ul class="filter-catagories">
        <li><a href="{% url 'user_index' %}">Profil Bilgilerim</a></li>
        <li><a href="{% url 'list_estate' %}">Aktif İlanlarım</a></li>
        <li><a href="{% url 'list_estate_waiting' %}">Onaylanmamış İlanlarım</a></li>
        <li><a href="{% url 'comments' %}">Yorumlarım</a></li>
        <li><a href="#">My Products</a></li>
        <li><a href="{% url 'logout_view' %}">Logout</a></li>
    </ul>
</div>